.main-container .content {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7em;
}

.content a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.content a:hover {
  text-decoration: line-through #1A80D9;
}

.portrait-valentina {
  width: 20rem;
  justify-self: end;
}

.about {
  display: grid;
}

.circle-link img {
  width: 10em;
}

.circle-link {
  position: fixed;
  bottom: 1em;
  right: 1em;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 640px) {
  .portrait-valentina {
    width: 10rem;
  }
}

@media screen and (max-width: 490px) {
  .main-container .content {
    font-size: 1.2rem;
  }
  .main-container .about {
    margin-bottom: 7em;
  }
  .circle-link img {
    width: 7em;
  }
  .circle-link {
    right: 1.4em;
  }
}
