.project-element img {
  width: 100%;
}

.project-element {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  align-items: end;
  padding-bottom: 4em;
  border-bottom: solid 1px #DBB027;
}

.projects-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em 2em;
}

.projects-group h1 {
  font-size: 1.6rem;
}

.projects-group h2 {
  font-size: 1.4rem;
}

.projects-group h3 {
  font-size: 1.2rem;
}

img.icon {
  width: 1.5rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  line-height: 2rem;
}

.project-element div h2 {
  font-weight: 400;
}

span.highlight {
  font-weight: 500;
}


@media screen and (max-width: 990px) {
  .project-element {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {

  .project-element {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {

  img.icon {
    margin-bottom: 2em;
  }
}
