.header-menu {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  font-weight: 400;
  height: 5vh;
  align-items: center;
  text-transform: uppercase;
}

a.header-link {
  text-decoration: none;
}

a.header-link:visited {
  color: black;
}

.header-li {
  transition: transform .3s ease-out;
}

.header-li:hover {
  transform: translate(0, -0.5em);
}

@media screen and (max-width: 575px) {
  .header-menu {
    position: fixed;
    left: 100vw;
    transform: rotate( 90deg);
    transform-origin: 0 0;
    top: 0;
    gap: 1em;
    z-index: 1;
    width: 95vh;
  }

  .header-li:hover {
    transform: translate(0, 0.5em);
  }
}
