/* .App {
  margin: 1em 8em;
} */

/* .App:first-child{
  height: 5vh;
}

.App:nth-child(2){
  height: 95vh;
} */

.main-container {
  padding: 8em;
}

@media screen and (max-width: 767px) {
  div.main-container {
    padding: 4em;
  }
}

@media screen and (max-width: 640px) {
  .App {
    margin: 3em;
  }
  div.main-container {
    padding: 1em 0;
  }
}

@media screen and (max-width: 490px) {
  .App {
    margin: 1.5em 2em;
  }
}



/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
