.main-container {
  padding: 8em;
}

@media screen and (max-width: 767px) {
  div.main-container {
    padding: 4em;
  }
}

@media screen and (max-width: 640px) {
  .App {
    margin: 3em;
  }
  div.main-container {
    padding: 1em 0;
  }
}

@media screen and (max-width: 490px) {
  .App {
    margin: 1.5em 2em;
  }
}
